body {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    background-color: #eee7e7;
}

header {
    padding: 10px;
}

header div {
    margin-top: 50px;
}

header h1 {
    font-size: 45px;
    font-weight: 300;
    line-height: 10px;
}

header p {
    font-size: 20px;
    font-weight: 300;
}

#gameboard {
    background-color: #bdbdbd;
    margin: 50px auto;
    width: 462px;
    height: 462px;
    padding: 13px;
    border-radius: 5%;
}

.squares {
    display: flex;
    flex-wrap: wrap;
}

.square {
    background-color: aliceblue;
    border: 2px solid #bdbdbd;
    display: flex;
    height: 150px;
    width: 150px;
    border-radius: 10%;
}

.square.X {
    background-color: rgb(192, 52, 52);
}

.square.X:before {
    margin-left: 70px;
    content: '';
    border-left: 4px solid #fff;
    transform: rotate(-45deg);
}

.X:after {
    content: '';
    border-left: 4px solid #fff;
    transform: rotate(45deg);
}


.square.O {
    background-color: yellowgreen;
}

.O:before {
    position: relative;
    top: -120px;
    left: -2px;
    content: ' \25CF';
    font-size: 250px;
    color: white;
  }

.O:after {
    position: relative;
    top: -108px;
    left: -148.5px;
    content: ' \25CF';
    font-size: 235px;
    color: yellowgreen;
}

#winningMessage {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0,0,0,0.6);
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: 300;
}
.messageText {
    font-size: 70px;
    color: white;
}
#restartButton {
    font-size: 20px;
    font-weight: 300;
    background-color: white;
    border: 2px solid grey;
    padding: 12px;
    cursor: pointer;
    border-radius: 15%;
    transition: all .2s ease-in-out;
}
#restartButton:hover {
    transform: scale(1.05); 
}